<h1>Data Driven</h1>
<!--Specify the form props and link up with component using [formGroup]-->
<form [formGroup]="AForm" (ngSubmit)="onSubmit()">
<!--Specify the formGroupName if this is a group within an existing group-->
    <div formGroupName="userdata">
<!--Apply formControlName to specific formControls in component-->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   formControlName="username">
        </div>
<!--Apply formControlName to specific formControls in component-->
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text"
                   class="form-control"
                   id="email"
                   formControlName="email">
        </div>
<!--access particular form-control using .controls[] -->
        <div *ngIf="!AForm.get('userdata.email').valid && AForm.get('userdata.email').touched">Invalid email</div>
    </div>
<!--Apply formControlName to specific formControls in component-->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               formControlName="password">
    </div>
    <div *ngFor="let g of genders">
        <label>{{g}}</label>
          <input type="radio" formControlName="gender" [value]="g"/>
    </div>
<!--For every form type name must be specified to ensure control is linked up-->
    <div formArrayName="hobbies">
        <h3>Hobbies</h3>
        <div class="form-group"
        *ngFor="let hobby of AForm.get('hobbies').controls; let i = index">
            <input type="text"
             class="form-control"
             formControlName="{{i}}">
        </div>
    </div>
    <button type="button" class="btn btn-default" (click)="onAddHobby()">Add Hobby</button>
    <button type="submit" class="btn btn-primary" [disabled]="!AForm.valid">Submit</button>
</form>
